doctype html
html
  head
    style
      :stylus
        @require '../index.styl'

  body
    header
      h1 test headerh1
      h2 test headerh2
      h3 test headerh3
      h4 test headerh4
      h5 test headerh5
      h6 test headerh6
      p test header p
    section
      h1 test section h1
        section test section section h1
