/**
 * Module dependencies
 */

@require 'shoelace-ui-font'
@require 'shoelace-ui-line-height'
@require 'shoelace-ui-headings'
@require 'shoelace-ui-blockquote'

/**
 * Expose `typography` variables.
 */

type--text-muted               ?= lightgray   // By default, this inherits from the `<body>`.
type--abbr-border-color        ?= lightgray   // Abbreviations and acronyms border color
type--page-header-border-color ?= lightgray   // Page header border color
