/**
 * Expose `button` variables.
 */

$button-selector-prefix ?= "btn"
$button-font-size ?= 14px
$button-font-family ?= "Helvetica Neue", Helvetica, Arial, sans-serif;
$button-line-height ?= 20px
$button-padding-vertical ?= 10px
$button-padding-horizontal ?= 10px
$button-border-radius-base ?= 3px
$button-font-weight ?= 400
$button-default-color ?= #555
$button-default-bg ?= white
$button-border-radius ?= 4px
